/*@media screen and (max-width: 479px) {
	.abovethefold {
		flex-direction: column;

	}
}
@media screen and (min-width: 480px) {
	.abovethefold {
		flex-direction: row;
	}
}*/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.abovethefold {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.figure {
	display: flex;
	position: relative;
	top: -40px;
	flex-direction: column;
	gap: var(--spacing);
	max-width: 80%;
	max-height: 80%;
}

.figure__image {
	max-width: fit-content;
	border-width: 10px;
	border-color: var(--button-color);
	border-style: solid;
	border-radius: var(--roundedness);
}

.figure__caption {
	font-size: 5em;
	color: var(--text-color);
	text-align: center;
}

.content {
	color: var(--text-color);
	padding-right: var(--spacing);
	font-size: 3em;
}

.social-links {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.social-links__fig {
	height: 120px;
}

.social-links-small {
	margin-top: -30px;
}
.social-link-small {
	font-size: 12pt;
	color: var(--text-color);
}

