:root {
	--color1: rgb(210, 40, 240);
	--color2: rgb(250, 60, 110);
	--color-light: #FEE3EA;
	--text-color: rgb(255, 255, 255);
	--button-color: rgb(142, 39, 64);
	--roundedness: 20px;
	--button-padding: 20px;
	--spacing: 30px;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
	padding: var(--spacing);
}
